<% provide(:title, "About Jer") %>
<h1>Jeremy</h1>
<h1>Marathon PR: 3:03:04</h1>

<div class="center container">

  <%= image_tag("jer-racing-sugarloaf.jpg", alt: "Jer", width: 400) %>
  <h2>Jer lives in beautiful Bangor, Maine</h2> 

 
  <p>Running, for me, is a journey; at times purely focused on achieving goals, other times spiritual in nature. My journey began as a child, winning a local 12 and under 5 miler and beating my father for the first time in the process. I hadn’t trained, didn’t even have running shoes, and I threw up over a bridge on the finishing stretch. But, being called first for the first for the age group was a feeling that is hard to forget. I won a couple of hand drawn pictures- my mom framed them for me and they hung in my bedroom for years. I still have them somewhere, maybe the garage, collecting dust the way old things do. What followed was years of running cross country and track  through middle school and high school. In middle school, I was the smallest kid on the team. My uniform was too big. By my senior year of high school, I was rounding into form as one of the best cross country and track runners in the area. In the spring of my senior year, I ran 9:28 for the 3200m, maybe my best race. I was good enough to earn a partial scholarship to division 1 Canisius College and competed for 4 years. This was also the first time I had ever run with a watch on a training run. I loved cross country, the training, the togetherness as a team, the races. My senior year, I set PRs for 5 miles (25:07) and  10k (30:40).</p>

    <p>Post college, I had a year between undergrad and grad school. I trained very hard for a shot in the 1996 Olympic trials marathon running 100+ mile weeks and measuring all my long runs in the car, as there were no GPS watches yet. I raced in the Columbus marathon in November 1994 on a warm, sunny day in the 70s. I was on Trials pace through the half marathon in just over 70 minutes. Ultimately, though, I ended up dropping out after still being on pace through 17 miles. I didn’t take enough fluids and had severe leg cramping. I trained on through the spring and summer of 1995, eventually lowering my 8k PR to 24:53 in a road race.</p>


  

  <%= image_tag("jer-sugarloaf-finish.jpg", alt: "Jer", width: 400) %>
  <h2>Qualifying for Boston at Sugarloaf on a gorgeous day.</h2>

  <p>In the fall of 1995, I entered grad school and running was on the back burner for many, many years. Eventually, I started running again just as a way to get back into shape and lose some weight. Fast forward to Christmas 2015, and my younger brother, Chris, is seeing that I’m running again and convinces me that I can qualify for the Boston Marathon in my age group. I bought my first GPS watch and started training. In May of 2016, I ran the Sugarloaf Marathon after training through the winter and peaking at about 60 miles a week. I ended up running 3:40, missing the qualifying time, but I was hooked on running again. The next year, May 2017, I ran the same race achieving the qualifying standard by more than 20 minutes and running 3:03. My brother and I achieved our goal and ran the the Boston marathon together in April 2018. We both started in Wave 1 and it was a day for the ages weather wise.</p>


  <p>It took everything just to finish. After Boston 2018, my brother and I decided we needed to do it again together only this time under hopefully better weather conditions. I also had a personal goal of breaking 3 hours. In May of 2019, I once again ran the Sugarloaf marathon, this time running 3:04, but still well under the qualifying standard for Boston. We were both ready to train for Boston 2020.</p>

  <%= image_tag("jer-boston-2018-1.jpg", alt: "Jer", width: 400) %>
  <%= image_tag("jer-boston-2018-2", alt: "Jer", width: 400) %>
  <h2>Finishing Boston in 2018 in the worst weather in 40 years took everything I had.</h2>

  <p>My training for Boston was going well, and I was rattling off 70 mile weeks and 21 mile long runs. I was going to do a half marathon race at the end of March and looked to be on pace to break 1:25 in the half and break 3 hrs for the full in Boston. And then, Covid-19, brought everything to a standstill and all races were canceled or postponed. 
As runners, though, we can understand the ebb and flow of training and racing with all the many pit falls: bad weather, injuries, accidents, family life, work, a pandemic. But we run on...not just for a medal on a shelf or a like on a Facebook post...because we can and we know that running stirs something very emotional in us and sometimes quite spiritual. An early mourning run in the half light of dawn, an evening run past a field with a deer quietly eating some grass. We run on because it quiets the mind, eases the stresses of life, and provides peace in uncertain times. We run on for the goals already achieved, the goals not yet achieved, and for each other as runners and humans, all looking for our rightful place in the sun.</p>

  <%= image_tag("jer-21-miler.jpg", alt: "Jer", width: 400) %>
  <%= image_tag("jer-anti-slow.jpg", alt: "Jer", width: 400) %>
  <h2>"To give anything less than your best is to sacrifice The Gift" - Steve Prefontaine</h2>

  <br /><br /><br />
  <p>Jer prefers to focus his runnign effort on measurable improvement. He's a salt-of-the-earth, no-nonsense kind of guy. Jer's favorite thing to do is encourage others to imrpove to the best they can offer themselves.</p>
  <br /><br /><br />

  <div class="container">
    <h2>Marathons run:</h2>
      <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2"><p>May 15, 2016</p></div>
      <div class="col-sm-2"><p>Sugarloaf</p></div>
      <div class="col-sm-2"><p>3:40:20</p></div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2"><p>May 21, 2017</p></div>
      <div class="col-sm-2"><p>Sugarloaf</p></div>
      <div class="col-sm-2"><p>3:03:04</p></div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2"><p>April 16, 2018</p></div>
      <div class="col-sm-2"><p>Boston</p></div>
      <div class="col-sm-2"><p>3:26:23</p></div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2"><p>May 19, 2019</p></div>
      <div class="col-sm-2"><p>Sugarloaf</p></div>
      <div class="col-sm-2"><p>3:04:07</p></div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <br /><br /><br />

  
  <%= image_tag("jer-racing.jpg", alt: "Jer", width: 400) %>
 

<h2>Jer's a salt-of-the-earth, no-nonsense kind of guy. His favroite thing to do is encourage others to imrpove to the best they can offer themselves.</h2>

  <%= image_tag("jer-put-on-a-shirt-guy.jpg", alt: "Jer", width: 400) %>


</div>
