<% provide(:title, "About Jer") %>
<h1>Jeremy</h1>
<h1>Marathon PR: 3:03:04</h1>

<div class="center container">

  <%= image_tag("jer-racing-sugarloaf.jpg", alt: "Jer", width: 400) %>
  <p><strong>This guy.</strong></p>

  <p>Jer lives in beautiful Bangor, ME. He ran cross country and track in high school and college, 
    the latter where he represented the Canisus Griffins in NCAA Division I competition.
    Jer left running to focus on work for a long while, before being convinved by his brother Chris to attempt to
    qualify for the Boston Marathon being run in 2018.</p>

    <p>Since getting back into running, Jer has competed in a local race in Maine, the Sugarloaf Marathon, three times. He qualified for the Boston Marathon in both 2018 and 2020. His career marathon times are listed below. Notably, and as a young man, he also attempted to qualify for the Olympic trials in 1996, after graduating from college. Acing in the Columbus Marathon, he passed the halfway mark in 70:04, but succumbed to the heat that day and failed to finish.</p>


  <div class="container">
    <h2>Marathons run:</h2>
      <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2"><p>May 15, 2016</p></div>
      <div class="col-sm-2"><p>Sugarloaf</p></div>
      <div class="col-sm-2"><p>3:40:20</p></div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2"><p>May 21, 2017</p></div>
      <div class="col-sm-2"><p>Sugarloaf</p></div>
      <div class="col-sm-2"><p>3:03:04</p></div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2"><p>April 16, 2018</p></div>
      <div class="col-sm-2"><p>Boston</p></div>
      <div class="col-sm-2"><p>3:26:23</p></div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2"><p>May 19, 2019</p></div>
      <div class="col-sm-2"><p>Sugarloaf</p></div>
      <div class="col-sm-2"><p>3:04:07</p></div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <br /><br /><br />

  <%= image_tag("jer-21-miler.jpg", alt: "Jer", width: 400) %>
  <p><strong>This guy.</strong></p>

  <%= image_tag("jer-anti-slow.jpg", alt: "Jer", width: 400) %>
  <p><strong>This guy.</strong></p>

  <p>Jer prefers to focus his runnign effort on measurable improvement. He's a salt-of-the-earth, no-nonsense kind of guy. Jer's favroite thing to do is encourage others to imrpove to the best they can offer themselves.</p>

  <%= image_tag("jer-racing.jpg", alt: "Jer", width: 400) %>
  <p><strong>This guy.</strong></p>

  <%= image_tag("jer-put-on-a-shirt-guy.jpg", alt: "Jer", width: 400) %>
  <p><strong>Put on a shirt guy.</strong></p>


</div>
